body {
    background-color: beige;
}

.main {
    background-color: antiquewhite;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.game {
    background-color: aquamarine;
    padding: 2%;
}

.gameView {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: blueviolet;
    height: 400px;
    width: 400px;
    margin: auto;
}

.gameColumn {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.gameCell {
    width: 35px;
    height: 35px;
    background-color: coral;
}

.gameCell:hover {
    background-color: cornflowerblue;
}

.header {
    background-color: aqua;
    text-align: center;
    padding: 5%;
}

.sapper {
    border: 3px solid black;
    padding: 5px;
    display: inline-block;
}

.sapper div {
    margin: 1px;
    padding: 0;
    height: 25px;
}

.sapper img {
    width: 25px;
    height: 25px;
    margin: 1px;
}

