body {
    background-color: beige;
}

.main {
    background-color: antiquewhite;
    min-width: 350px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.game {
    background-color: aquamarine;
    padding: 4%;
    text-align: center;
}

.game a {
    margin: 0 auto;
    padding: 8px;
    color: white;
    background-color: green;
    text-decoration: none;
}

.gameView {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: blueviolet;
    height: 400px;
    width: 400px;
    margin: auto;
}

.gameRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.gameCell {
    width: 35px;
    height: 35px;
    background-color: coral;
}

.gameCell:hover {
    background-color: cornflowerblue;
}

.header {
    background-color: aqua;
    text-align: center;
    padding: 5%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: darkslategrey;
}

.bar {
    max-height: 40px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flag-block {
    min-width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.timer-block {
    min-width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flag-quantity {
    padding-top: 4px;
    font-size: 25px;
}

.flag-img {
    width: 40px;
    height: 40px;
}

.timer-digits {
    padding-top: 4px;
    font-size: 25px;
}

.timer-img {
    width: 40px;
    height: 40px;
}